.square {
  display: grid;
  place-items: center;
  width: 10rem;
  height: 10rem;
  background: black;
  color: white;
}


.main {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
